* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1848ff;
    --white-color: #fff;
    --favourite-color: #ff3401;
    --black-color: #000;
    --text-color: #333;
    --star-gold-color: #fecf3e;
    --border-color: #dbdbdb;
    
}

::selection {
    background: #f05222;
    color: #fff;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 66px;
    z-index: 1;
}

.navbar {
    display: none;
}



.header__slogan {
    display: flex;
    user-select: none;
}

.header__slogan a img {
    width: 38px;
    height: 38px;
}

.header__slogan h1 {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--black-color);
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    width: 420px;
    border: 2px solid var(--border-color);
    border-radius: 20px;
    margin: 13px 0;
    user-select: none;
    display: flex;
}

.header__search:focus-within  {
    border: 2px solid #000;
}

.header__search-icon {
    width: 30px;
    font-size: 2rem;
    color: #7c7c7c;
    background-color: var(--white-color);
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    margin: 0 1.2rem;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: flex;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.search-on-mobile {
    font-size: 1.8rem;
    color: #707070;
    display: none;
}

.header__navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.header__navbar-notify a {
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    margin-right: 16px;
    color: var(--black-color);
    position: relative;
}

.my-courses {
    width: 378px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
    top: 60px;
    right: 100px;
    position: absolute;
}

.my-courses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    padding: 12px 20px;
}

.my-courses-content {
    padding-bottom: 12px;

}

.course-list {
    padding: 8px 12px;
    margin: 0 8px;
    display: flex;
    flex-direction: row;
}

.course-img img {
    width: 120px;
    height: 68px;
    border-radius: 8px;
}

.course-progress {
    margin-left: 12px;

}

.course-progress h6 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 6px;
}

.course-progress p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 4px;
}

.progress-btn {
    height: 8px;
    width: 100%;
    border-radius: 4px;
    background-color: #f05123;
}


.my-courses-header h5 {
    font-size: 18px;
    font-weight: 600;
}

.my-courses-header a {
    background-color: transparent;
    color: #f05123;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 8px 0 8px 8px;
    text-decoration: none;
    user-select: none;
}

.my-courses-content {

}

.course-list {

}


.header__navbar-icon {
    font-size: 1.8rem;
    padding: 8px;
    color: #707070;
}

.header__navbar-icon:hover {
    color: #000;
}

.header-user-img {
    height: 28px;
    width: 28px;
    margin-left: 8px;
    border-radius: 50%;
    cursor: pointer;
}

/* Container */
.container {
    display: flex;
    justify-content: flex-start;
}

.container__sidebar {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    margin-top: 64px;
    position: fixed;
}

.slider-with-content {
    padding: 18px 40px 0 20px;
    margin: 64px 0 0 96px;
}

.sidebar__home {
    width: 72px;
    height: 72px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    color: #404040;
    background-color: var(--white-color);
    cursor: pointer;
}

.sidebar__add:hover {
    font-size: 2rem;
}

.add {
    height: 44px;
    width: 44px;
    border: none;
    border-radius: 50%;
    margin: 18px 15px;
    background-color: #1473e6;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar__add {
    font-size: 1.6rem;
    color: var(--white-color);
    padding: 14px;
}

.sidebar__home:hover {
    background-color: #eff5fa;
}

.sidebar__home-present {
    color: var(--black-color);
    background-color: #e8ebed;
}

.sidebar__home span {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 6px;
}

.sidebar__home-icon {
    font-size: 1.8rem;
}

.slider {
    /* width: 1210px; */
    height: 270px;
    max-width: 100%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #fe6c1d, #91762bab);
    position: relative;
}
.slider-col-right {
    height: 100%;
    width: 50%;
}
.slider-col-left {
    height: 100%;
    width: 100%;
}

.slider-left-btn {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    display: flex;
    text-decoration: none;    
    left: -16px;
    position: absolute;
}

.slider-right-btn-on-tablet {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    /* display: flex; */
    text-align: center;
    justify-content: flex-end;
    text-decoration: none;
    right: -16px;
    position: absolute;
    display: none;
}

.slider-right-btn {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    display: flex;
    text-align: center;
    text-decoration: none;
    right: -16px;
    position: absolute;
}

.slider-icon {
    font-weight: 900;
    margin: auto;
    font-size: 1.4rem;
}

.slider-content-left {
    height: 100%;
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    padding: 36px 36px;
}

.slider-content-right img {
    width: 100%;
    height: 100%;
    right: 0;
    /* position: relative; */
}

.slider-title {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    margin-bottom: 8px;
}

.slider-description {
    margin-bottom: 24px;
}

.slider-btn-link {
    border: 2px solid #fff;
    border-radius: 16px;
    color: #fff;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    width: 127px;
    height: 34px;
    padding: 4px 10px;
    text-align: center;
    transition: 0.2s ease;
    cursor: pointer;
    background-color: transparent;
}

.slider-pagination {
    width: 100%;
    display: flex;
    padding: 16px 48px 32px;
}

.pagination-btn {
    width: 32px;
    height: 8px;
    background-color: #dce0e3;
    margin: 8px;
    border-radius: 4px;
    border: none;
}

/* Content */
.content {
    overflow: hidden;
    padding: 0 44px 74px;
}

/* .grid {
    width: 1124px;
    max-width: 100%;
} */

.grid-row {
    display: flex;
    flex-wrap: wrap;
}

.grid-column {
    padding: 0 12px;
    width: 25%;
    margin-bottom: 15px;
}

.content-roadmap-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 12px;
}

.roadmap-heading {
    display: flex;
    width: auto;
    height: 28px;
}

.roadmap-heading-text {
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1.2;
    text-decoration: none;
    color: var(--black-color);
}

.roadmap-heading-btn {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: #1473e6;
    border-radius: 4px;
    padding: 3px 6px;
    margin: 0 8px 5px 10px;
    border: none;
    cursor: pointer;
}

.roadmap-more {
    background-color: transparent;
    color: #f05123;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 8px 0 8px 8px;
    text-decoration: none;
    user-select: none;
}

.roadmap-more:hover {
    text-decoration: underline;
}

.content-roadmap-fe {
    display: flex;
}

.content-img {
    padding-top: 56.25%;
    background-size: contain;
    border-radius: 16px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.content-img:hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}

.content-img:hover .btn {
    display: block;
}

.btn {
    position: absolute;
    top: 39%;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 9px 16px;
    border-radius: 99px;
    border: none;
    display: none;
    cursor: pointer;
    animation: btnShow ease-in 0.2s;
}

@keyframes btnShow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.content-name {
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 600;
    height: 1.8rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    padding: 16px 16px 16px 0;
    text-decoration: none;
    color: #292929;
    text-decoration: none;
}

.course-user {
    font-size: 1.4rem;
    color: #666;
    padding: 15px 0;
    user-select: none;
}

.course-user-number {
    margin-left: 8px;
}

/* Blogs */
.blog-author {
    display: inline-flex;
    align-items: flex-start;
    padding: 15px 0;
    line-height: 2rem;
}

.blog-author-img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 8px;
    user-select: none;
}

.blog-author-name {
    font-size: 1.4rem;
    font-weight: 600;
    color: #292929;
}

.blog-author-point {
    user-select: none;
    margin: 0 8px;
}

.blog-author-time {
    font-size: 1.4rem;
    font-weight: 400;
    color: #757575;
    user-select: none;
}

/* Videos */
.btn-play {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.btn-play-video {
    height: 36px;
    width: 36px;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.btn-time {
    height: 32px;
    width: 60px;
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 7px 12px;
    border: 2px solid #fff;
    border-radius: 99px;
}

.interactive {
    color: #757575;
    display: flex;
    padding: 15px 0;
    font-size: 1.4rem;
    user-select: none;
}

.interactive-view span {
    margin-left: 8px;
}

.interactive-like {
    margin-left: 24px;
}

.interactive-like span {
    margin-left: 8px;
}

.interactive-cmt {
    margin-left: 24px;
}

/* Footer */
.footer {
    width: 100%;
    margin-bottom: 0;
    background-color: #181821;
    color: #a9b3bb;
    padding: 68px 0 40px;
    display: flex;
    flex-direction: column;
}

.footer_grid {
    width: 1100px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_grid-col {
    padding: 0 12px;
    width: 24%;
    margin-bottom: 32px;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-top {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 133px;
}

.footer-bottom {
    padding: 0 133px;
}

.connect-item {
    display: flex;
    align-items: center;
}

.footer__logo-img {
    width: 38px;
    height: 38px;
    margin-right: 10px;
    user-select: none;
}

.footer-heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    margin: 14px 0;
    line-height: 2.6rem;
}

.footer-list {
    list-style: none;
}

.footer-item {
    margin-bottom: 8px;
}

.footer-item-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #a9b3bb;
    margin-bottom: 8px;
    line-height: 2.2rem;
}

.footer-certificate {
    margin-top: 20px;
}

.footer-copyright-social {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    font-size: 1.4rem;
}

.footer-social {
    margin-left: auto;
    user-select: none;
}

.footer-social a {
    text-decoration: none;
}

.footer-icon {
    font-size: 3.2rem;
    margin-left: 8px;
}

.footer-social .fa-youtube {
    color: red;
}

.footer-social .fa-facebook-square {
    color: #4867aa;
}

.footer-social .fa-tiktok {
    color: #fff;
}
#navbar-mobile-tablet:checked ~ .navbar-background {
    display: block;
}
#search-on-mobile-checkbox:checked ~ .mobile-search {
    display: block;
}