/* small PC */
@media (min-width: 1024px) {
    /* .slider-title {
        font-size: 2.5rem;
    }
    
    .slider-content-left {
        font-size: 1.1rem;
    } */
}

/* Mobile & tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .slider-col-right {
        display: none;
    }
    .slider {
        width: 100%;
    }
    .container__sidebar {
        display: none;
    }
    .navbar {
        display: block;
    } 
        
    .header-navbar {
        position: relative;
    }
    
    .header-navbar-icon {
        font-size: 2rem;
        padding: 8px;
    }

    .navbar-background {
        top: 66px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        display: none;
    }
    
    .navbar-info {
        padding: 16px 0 0 32px;
        width: 360px;
        height: 100vh;
        top: 66px;
        left: 0;
        background-color: #fff;
        animation: navbarInfoSideIn linear 0.3s;
    }
    
    @keyframes navbarInfoSideIn {
        from {
            opacity: 0;
            left: -180px;
        }   
        to {
            opacity: 1;
            left: 0;
        }
    }

    .header-navbar:hover .navbar-info {
        display: block;
    }
    
    .navbar-user {
        padding: 32px 0 32px 20px;
    }
    
    .navbar-user-img {
        width: 96px;
        height: 96px;
        border-radius: 50%;
    }
    
    .navbar-list {
        height: auto;
        text-decoration: none;
        list-style: none;
    
    }
    
    .navbar-item {
        padding: 16px 0;
    }
    
    .navbar-item .sidebar__home-icon {
        color: var(--text-color);
    }
    
    .navbar-item a {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2rem;
        color: var(--text-color);
        text-decoration: none;
        margin-left: 16px;
    }
    
    .content {
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    .footer {
     padding: 32px; 
    }    

    .footer-content {
        justify-content: flex-start;
    }

    .footer-bottom {
        padding: 0 16px;
    }
}

/* Tablet */
@media(min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header {
        padding: 0 32px;
    }
    .slider-right-btn-on-tablet {
        display: flex;
    }
    .slider-with-content {
        margin-left: 0;
        padding: 20px 32px 0;
    }
    .content-roadmap-title {
        padding: 20px 0;
    }
    .footer-top {
        padding: 0 16px;
    }
}

/* Mobile */
@media (max-width:739px) {
    .hide-on-mobile {
        display: none;
    }
    .search-on-mobile {
        padding: 0 16px;
        display: block;
    }
    .search-on-mobile-btn {
        position: relative;
    }
    
    .mobile-search {
        position: absolute;
        height: 10vh;
        width: 100%;
        top: 66px;
        right: 0;
        left: 0;
        padding: 0 16px;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        animation: mobileSearchSideIn linear 0.05s;
        display: none;
    }
    
    @keyframes mobileSearchSideIn {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }

    .mobile-search-input {
        width: 100%;
        height: 10vh;
        font-size: 2rem;
        border: none;
        outline: none;
    }    
    .header__navbar-icon {
        padding: 10px;
    }
    .slider-right-btn {
        display: none;
    }
    .slider-with-content {
        padding: 0 16px;
        margin: 86px 0 0 0;
    }
    .slider-title {
        font-size: 2.4rem;
    }
    .slider-content-left {
        font-size: 1.3rem;
    }
    
    .roadmap-heading-text {
        font-size: 2rem;
    }
    .roadmap-more {
        display: none;
    }
    .footer {
        padding: 20px 0 40px;

    }
    .footer-heading {
        font-size: 1.8rem;
    }
    .footer-top  {
        padding: 0 16px;
    }
    .footer-content {
        justify-content: flex-start;
    }
    
    .footer-copyright-social {
        display: block;
    }
    .footer-icon {
        margin: 16px 16px 0 0;
    }
    .content-roadmap {
        margin-top: 10px;
    }
    .slider-left-btn {
        display: none;
    }
}